.navbar{
    height: 50px;
    line-height: 50px;
    background-color: #f80;
    padding: 0 2rem;
    .container{
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}